header {
    background-color: var(--c-primary);
    padding: 0.5rem;
}

.header-heading {
    font-size: inherit;
    --tt-key: none;
    line-height: 1.2;
    font-family: var(--mono);
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.header-link {
    text-decoration: none;
}