/* Container query */
article {
  container-type: inline-size;
  container-name: article;
}

.headline {
  /* Set the animation timeline to start at a conatainer inline-size of 20rem and end at 80rem */
  /* attahment function ( container name and dimention, start size, end size ) */
  animation-attachment: container(article inline-size, 20rem, 80rem);

  /* Define the animation parameters */
  animation-name: headline;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;

  /* If fill mode is not set to `both` then the animation will apply default settings outside the boundaries set in animation-attachment */
  animation-fill-mode: both;
}

/* Standard animation keyframes */
@keyframes headline {
  from {
    font-size: 1.6rem;
    color: hsl(9, 69%, 11%)
  }
  to {
    transform: 5rem;
    line-height: 1;
    color: hsl(9, 96%, 29%)
  }
}


/* @query-timeline */

/* Set the animation timeline to start at a conatainer inline-size of 20rem and end at 80rem */
/* attahment function ( container name and dimention, start size, end size ) */
@query-timeline article {
  source: selector("article");
  orientation: "inline";
  length-offsets: 20rem 80rem;
}

.headline {
  /* Set the animation timeline, much like scroll timeline is set */
  animation-timeline: article;

  /* Define the animation parameters */
  animation-name: headline;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;

  /* If fill mode is not set to `both` then the animation will apply default settings outside the boundaries set in animation-attachment */
  animation-fill-mode: both;
}

/* Standard animation keyframes */
@keyframes headline {
  from {
    font-size: 1.6rem;
    color: hsl(9, 69%, 11%)
  }
  to {
    transform: 5rem;
    line-height: 1;
    color: hsl(9, 96%, 29%)
  }
}
