:root {
    --c-hue: -20deg;
    --c-primary: hsl(var(--c-hue) 100% 25%);
    --c-action: hsl(var(--c-hue) 100% 60%);
    --c-subdued: hsl(var(--c-hue) 10% 80%);
    --c-altbkg: hsl(var(--c-hue) 0% 97%);
    --c-text: #000;
    --c-background: #fff;

    --text: Literata, serif;
    --headline: 'Big Shoulders Display', sans-serif;
    --mono: 'IBM Plex Mono', monospace;

    --transition: 0.2s ease-in-out;
    
    --tt-key: root;
    --tt-ease: ease-out;
    --tt-max: 400;

    background: var(--c-background);
    color: var(--c-text);

    font-family: var(--text);
    line-height: 1.425;
    font-size: calc(20 / 16 * 100%);
    scroll-behavior: smooth;
    @media (prefers-color-scheme: dark) {
        --c-hue: 20deg;
        --c-primary: hsl(var(--c-hue) 50% 60%);
        --c-action: hsl(var(--c-hue) 80% 50%);
        --c-subdued: hsl(var(--c-hue) 20% 30%);
        --c-altbkg: hsl(var(--c-hue) 0% 12%);
        --c-text: #fff;
        --c-background: #000;
    }
}
@keyframes root {
    0% {
        font-size: 0%;
        line-height: 1.2;
    }
}

body {
    margin-block: 0;
    margin-inline: auto;
    padding-block: 0 25vh;
    padding-inline: 5%;
    max-width: 70ch;
}

* {
    font: inherit;
    text-decoration-thickness: 0.075em;
    text-underline-offset: 0.11em;
}

i, em {
    font-style: italic;
}

b, strong {
    font-weight: bolder;
}

:focus {
    outline: 0.2rem solid var(--c-action);
    outline-offset: 0.2rem;
    border-radius: 0.2rem;
}

:target {
    text-decoration: underline;
    text-decoration-color: var(--c-action);
}


a {
    color: inherit;
    text-decoration-color: var(--c-primary);
    transition: all var(--transition);
    &[href*="http"]::after {
        font-size: 0.8em;
        transition: all var(--transition);
        display: inline-block;
        content: '⇱';
        transform: scalex(-100%) translatey(-0.5em);
        color: var(--c-primary);
        margin-inline-start: 0.1em;
        @media print {
            content: attr(href);
            font-size: 0.7em;
            transform: translatey(-0.4em);
        }
    }
    &:visited  {
        text-decoration-color: var(--c-subdued);
        &[href*="http"]::after {
            color: var(--c-primary);
        }
    }
    &[href*="glossary/#"],
    &[href^="#"]  {
        text-decoration-style: wavy;
        text-decoration-color: var(--c-subdued);
    }
    &:hover {
        color: var(--c-action);
        text-decoration-color: var(--c-action);
        &[href*="http"]::after {
            color: var(--c-action);
            transform: scalex(-100%) translatey(-0.6em);
        }
    }
}

abbr {
    text-decoration-style: wavy;
    text-decoration-color: var(--c-subdued);
    position: relative;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    font-weight: 520;
    text-decoration-thickness: 0.075rem;
    text-underline-offset: 0.11rem;
    cursor: help;
    &:hover {
        text-decoration-color: var(--c-action);
    }
    &:hover::after {
        letter-spacing: 0;
        font-weight: 400;
        content: attr(title);
        position: absolute;
        background: var(--c-primary);
        color: var(--c-background);
        width: max-content;
        font-size: 0.75rem;
        inset-block-start: -1.5rem;
        inset-inline-start: 50%; 
        padding: 0.3rem;
        border-radius: 0.2rem;
        transform: translateX(-50%);
    }
}

img {
    width: 100%;
}

// Typographic styles
p {
    margin-block: 0.5em;
}

h1 {
    color: var(--c-primary);
    font-family: var(--headline);
    font-size: 6rem;
    line-height: 1.1;
    font-weight: 900;
    margin-block: 1em 1rem;
    --tt-max: 730;
    --tt-ease: ease-in;
    --tt-key: h1;
}
@keyframes h1 {
    0% {
        font-size: 2rem;
        font-weight: 800;
    }
}

h2 {
    color: var(--c-primary);
    font-family: var(--headline);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    margin-block: 1.5em 0.5rem;
    padding-block-start: 0.2em;
    border-top: 1px solid var(--c-primary);
    scroll-margin-top: 2rem;
}

h3 {
    color: var(--c-primary);
    font-family: var(--headline);
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.2;
    margin-block: 2em 0.25rem;
    scroll-margin-top: 2rem;
}

h4 {
    color: var(--c-primary);
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2;
    margin-block: 1em 0.25rem;
}

ol, ul {
    margin-block: 1rem;
    margin-inline: 0;
    padding: 0;
    padding-inline-start: 1.8rem;
}

::marker {
    color: var(--c-primary);
}

ul {
    list-style-type: disc;
    ul {
        list-style-type: circle;
        ul {
            list-style-type: square;
        }
    }
}

ol::marker {
    font-family: var(--mono);
    font-size: 0.8rem;
    font-weight: 500;
}

ul.contains-task-list {
    list-style: none;
    padding: 0;
}

code {
    background-color: var(--c-altbkg);
    color: var(--c-primary);
    border-radius: 0.2em;
    font-family: var(--mono);
    font-weight: 500;
    outline: 0.2em solid var(--c-altbkg);
    margin-inline: 0.3em;
    font-size: 0.9em;
    pre & {
        background: none;
        outline: none;
        margin: 0;
        font: inherit;
    }
}
pre {
    white-space: pre-wrap;
    padding: 1em;
    margin-block: 1rem;
    border-radius: 0.25rem;
    font-size: 0.75em;
    line-height: 1.35;
    font-family: var(--mono);
}

del {
    --c-hue: -10deg;
    border-radius: 0.2em;
    padding-inline: 0.1em;
    background-color: hsl(var(--c-hue) 100% 97%);
    outline: 0.2em solid hsl(var(--c-hue) 100% 97%);
    outline-offset: -0.1rem;
    transition: all var(--transition);
    color: hsl(var(--c-hue) 70% 80%);
    text-decoration-color: hsl(var(--c-hue) 70% 80%);
    &:hover {
        color: hsl(var(--c-hue) 70% 20%);
        text-decoration-color: hsla(var(--c-hue), 100%, 60%, 0.2);
    }
    a:visited {
        text-decoration-color: hsl(var(--c-hue) 70% 80%);
    }
}
ins {
    --c-hue: 160deg;
    border-radius: 0.2em;
    padding-inline: 0.1em;
    background-color: hsl(var(--c-hue) 100% 97%);
    outline: 0.2em solid hsl(var(--c-hue) 100% 97%);
    outline-offset: -0.1rem;
    transition: all var(--transition);
    color: hsl(var(--c-hue) 80% 25%);
    text-decoration-color: hsl(var(--c-hue) 90% 40%);
    &:hover {
        color: hsl(var(--c-hue) 90% 5%);
    }
}

time {
    display: block;
    font-family: var(--mono);
    font-size: 0.8rem;
}

hr {
    margin-block: 2rem;
    border: 0.5px solid var(--c-primary);
}