<footer>
    <p>Maintained by <a href="https://scottkellum.com">Scott Kellum</a> & <a href="https://typetura.com">Typetura</a>. <a href="https://github.com/Typetura/CSS-Initiatives/issues">Provide feedback on GitHub</a>.</p>
    <p>Inspired by <a href="https://css.oddbird.net/">OddBird’s CSS Sandbox</a>.</p>
</footer>