<footer>
    <p>Maintained by <a href="https://scottkellum.com">Scott Kellum</a> & <a href="https://typetura.com">Typetura</a>. <a href="https://github.com/Typetura/CSS-Initiatives/issues">Provide feedback on GitHub</a>.</p>
    <p>This website is part of the <a href="https://web.dev/ui-fund/">Google UI Fund</a> webring. <a href="https://css.oddbird.net/">OddBird’s CSS Sandbox  →</a></p>
</footer>